<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>frame.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B068C7891CA0D26F00B7B608</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B068C79D1CA0D27000B7B608</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B068C7A81CA0D27000B7B608</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
